<div class="container my-5">
    <ng-container *ngIf="this.chartData && chartData.length > 0; else analyticsBlankState ">
        <h1>Interview Summaries</h1>
        <div class="row row-cols-2">
            <div *ngFor="let chart of chartData" class="col my-2">
                <div class="card">
                    <div class="card-body">
                        <div echarts [options]="chart" [theme]="''" class="demo-chart"></div>
                    </div>
                </div>
            </div>
        </div>

    
    </ng-container>
    <ng-template #analyticsBlankState>
        No analytics for today
    </ng-template>

</div>