<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">OW Inc.</a>
        <a class="btn" [routerLink]="['/login']">logout </a>
    </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>

<!-- New Interview Btn-->
<button *ngIf="shouldDisplayNewBtn()" class="new-interview-btn" mat-fab color="accent" aria-label="New Interview"
    [routerLink]="['new']">
    <mat-icon>add</mat-icon>
</button>