<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">OW Inc.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="btn">
            logout
        </div>
    </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>

<!-- New Interview Btn-->
<button *ngIf="shouldDisplayNewBtn()" class="new-interview-btn" mat-fab color="accent" aria-label="New Interview" [routerLink]="['new']">
    <mat-icon>add</mat-icon>
</button>